a, body {
    color: #333;
}

body {
    background: #1f1f1f;
    //font: 300 1em/1.5 PingFang SC, Lantinghei SC, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;

}

p {
    margin: 0;
}

h3, h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.clearfix {
    color: #aeaeae;
}

.clearfix:after {
    content: '';
    height: 0;
    width: 0;
    clear: both;
    display: block;
}

.clearfix > span {
    float: left;
    margin-left: 10%;
}

.clearfix > time {
    float: right;
    margin-right: 10%;
}

#resume-education h4 {
    margin-left: 10%;
}

ul, ol, li {
    list-style: none;
}

ul, ol {
    padding-left: 0;
}

h3:before {
    content: '';
    height: 10px;
    width: 10px;
    display: inline-block;
    background-color: #7deae1;
    margin-right: 5px;
}

h4 a {
    text-decoration: none;
}


.container {
    max-width: 700px;
    margin: 20px auto;
    padding: 25px 50px;
    background-color: #fff;
    animation: fadein 2s;
}

.container > div {
    border-bottom: 1px solid #ccc;
}

.resume-row li small {
    margin-left: 10px;
}

#resume-header {
    text-align: center;
}

#resume-header ul, #resume-header li {
    list-style: none;
}

#resume-header li {
    display: inline-block;
    border-right: 2px solid #ccc;
    padding-right: 10px;
    padding-left: 10px;
}

#resume-header li:last-child {
    border-right: none;
}

.progress {
    height: 5px;
    background-color: #e5e5e5;
    position: relative;
    margin-bottom: 20px;
    box-shadow: none;
}

.progress .progress-bar {
    background-color: #1e89e0;
    height: 100%;
}


#resume-skill ul, #resume-skill ul li, #resume-education ol, #resume-education ol li {
    list-style: none;
    padding-left: 0;
}

#resume-education a {
    text-decoration: none;
}

#resume-experience ol li, #resume-projects ol li {
    margin-bottom: 20px;
}

#resume-footer {
    text-align: center;
    margin-top: 10px;
    border-bottom: none;
}

li ul {
    padding-left: 50px;
}

li ul, li ul li {
    list-style: initial;
}

#resume-experience li ul li {
    margin-bottom: 2px;
}

#resume-experience .clearfix span, #resume-projects .clearfix span {
    margin-left: 0;
}

.clearfix + p {
    margin-top: 5px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}